<a href="https://colab.research.google.com/github/Mendozaacpe/CPE009A_MENDOZA_OOP-1/blob/main/Looping_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**LOOPING IN PYTHON**

Loop Control Structures - used to perform looping operations until the given conditions is TRUE.

***TYPS OF LOOPS***

Loop Statement - A FOR loop is used for iterating over a sequence, similar to while statements, but this statement is to process list in large range of numbers.

**LOOP STATEMENT**

*FOR Loop*

In [7]:
#Ex 1:

week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  print (x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

In [5]:
#Ex 2:

week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  print (x)
  if x == "Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [9]:
#Ex 3:

week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  if x == "Thursday":
    break
  print (x)

Sunday
Monday
Tuesday
Wednesday

In [10]:
#Ex 3.1:

week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  if x == "Thursday":
    break
print (x)

Thursday

In [11]:
#Ex 4: Looping through a String

week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in "week":
  print (x)

w
e
e
k

The range() function

- To loop through a set of  code a specified number of times, we can use the range() function.
- It returns a sequence of numbers, starting from 0 by default, and it increments by 1 (by default) and ends at a spoecified number.

In [14]:
#Ex:

for x in range(6):
  print (x)
for x in range(2, 6):
  print (x)

0
1
2
3
4
5
2
3
4
5

In [17]:
for x in range(2,6,2):
  print (x)

2
4

*Nested Loop*

In [18]:
#Ex 1:

adjective = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adjective:
  for y in fruits:
    print (x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

*While Loop*

In [19]:
#Ex 5:

i = 1
while i < 6:
  print (i)
  i += 1

1
2
3
4
5

*Break Statement*

In [20]:
#Ex 1:

i = 1
while i < 6:
  print (i)
  if i == 3:
    break
  i += 1

1
2
3

*Continue Statement*

In [21]:
#Ex 1:

i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print (i)

1
2
4
5
6

In [24]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    print (i)
  continue

3

*Else Statement*

In [27]:
#Ex 1:

i = 1
while i < 6:
  print (i)
  i += 1
else:
  print ("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

***Let's Try***

In [39]:
for x in range(11):
  print ("Hello" , x)

#5 points in Midterm

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

In [40]:
i = 0
while i < 11:
  print ("Hello" , i)
  i += 1

#Another method

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

In [45]:
for x in range(3,10,1):
  print (x)

#5 points in Midterm

3
4
5
6
7
8
9

In [49]:
i = 3
while i < 10:
  print (i)
  if i == 10:
    break
  i += 1

#Another method

3
4
5
6
7
8
9