<a href="https://colab.research.google.com/github/Mendozaacpe/CPE009A_MENDOZA_OOP-1/blob/main/Mendoza_HOA_1_1_CPE009A.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Name:** Mendoza, Allyson E.

**Section:** CPE12S2

**Program:** BSCPE

***Assigning variables of different data types in Python***

In [7]:
value = 5
print (value)
type (value)

5

int

In [8]:
value = 5.0
print (value)
type (value)

5.0

float

In [9]:
value = 2+3j
print (value)
type (value)

(2+3j)

complex

In [10]:
value = 'Hello World'
print (value)
type (value)

Hello World

str

In [11]:
value = "Hello World"
print (value)
type (value)

Hello World

str

In [12]:
value = True
print (value)
type (value)

True

bool

In [13]:
value = False
print (value)
type (value)

False

bool

In [14]:
value = [1,2,3,4,5]
print (value)
type (value)

[1, 2, 3, 4, 5]

list

In [15]:
value = (1,2,3,4,5)
print (value)
type (value)

(1, 2, 3, 4, 5)

tuple

In [16]:
value = {'name': 'Ally'}
print (value)
type (value)

{'name': 'Ally'}

dict

In [17]:
value = None
print (value)
type (value)

None

NoneType

In [26]:
value = 5
value2 = -6
print (value)
print (value2)

5
-6

In [19]:
value2 = -6
print (value)

5

***Performing Operations with Python***

In [28]:
print (value + value2)

-1

In [29]:
value, value2 = 5.0, 6
print (value + value2)

11.0

In [30]:
value, value2 = -5, 6.1
print (value + value2)

1.0999999999999996

In [37]:
value, value2 = "Hello", ' world'
print (value + value2)

Hello world

In [33]:
value, value2 = [1,2,3], [4,5,6]
print (value + value2)

[1, 2, 3, 4, 5, 6]

In [34]:
value, value2 = (1,2,3), (4,5,6)
print (value + value2)

(1, 2, 3, 4, 5, 6)

In [40]:
value, value2 = {"name": "Ally"}, {"age": 19}
print (value , value2)

{'name': 'Ally'} {'age': 19}

In [43]:
value, value2 = 30, 4
print (value * value2)

120

In [45]:
value , value2 = 30, 4
print (value2 ** 2)

16

In [46]:
value , value2 = 30, 4
print (value2 ** 3)

64

In [47]:
value , value2 = 30, 4
print (value * value2 + value2 ** 2+1)

137

In [48]:
value , value2 = 30, 4
print (value / value2)

7.5

In [49]:
value , value2 = 30, 4
print (value % value2)

2

***Receiving Input Data using Python: Assigning Input Data to a Variable***

In [59]:
name = input ("Enter your name:" )
weight = input ("Enter your weight(kg):" )
height = input ("Enter your height(m):" )
bmi = float (weight) / (float (height) * float (height))


print ("\nName:" , name)
print ("Weight:" , weight)
print ("Height:" , height)
print ("BMI:", bmi)

Enter your name:Ally
Enter your weight(kg):47
Enter your height(m):1.55

Name: Ally
Weight: 47
Height: 1.55
BMI: 19.562955254942764

***Supplementary Activity***

In [73]:
base = float (input ("Enter the base of the triangle: "))
height = float (input ("Enter the height of the triangle: "))
area = (1/2) * base * height
print ("The area of the triangle is", area)

Enter the base of the triangle: 7
Enter the height of the triangle: 7
The area of the triangle is 24.5

In [79]:
C = float (input ("Enter the temperature in Celsius: "))
F = (C * 9/5) + 32
print ("In Fahrenheit", F)

Enter the temperature in Celsius: 0
In Fahrenheit 32.0

In [80]:
C = float (input ("Enter the temperature in Celsius: "))
F = (C * 9/5) + 32
print ("In Fahrenheit", F)

Enter the temperature in Celsius: -20
In Fahrenheit -4.0

In [81]:
x1 = float (input ("The x1 coordinate: "))
y1 = float (input ("The y1 coordinate: "))
x2 = float (input ("The x2 coordinate: "))
y2 = float (input ("The y2 coordinate: "))
distance = ((x2 - x1)**2 + (y2 - y1)**2)**0.5
print ("The distance between the two points is", distance)

The x1 coordinate: 2
The y1 coordinate: 2
The x2 coordinate: -3
The y2 coordinate: 3
The distance between the two points is 5.0990195135927845