<a href="https://colab.research.google.com/github/Mendozaacpe/CPE009A_MENDOZA_OOP-1/blob/main/Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Python Indentation**

In [1]:
if 5 > 2:
  print ("Five is greater than two!")

Five is greater than two!

**Python Comments**

In [3]:
#This is a comment
print ("Hello, World!")

Hello, World!

**Variable Naming Conventions**

**Python Variable**

In [14]:
x = 1
a, b = 0, -1
a, b, c = 0, -1, 2

b = "Sally" #This is a type of string

print ("Sally")

Sally

**Casting**

In [31]:
b = "sally" #This is a type of string
b = int(4)
print (b)

b = float(4)
print (b)

4
4.0

**Type() Function**

In [30]:
x = 5
y = "John"

print (type(x))
print (type(y))

<class 'int'>
<class 'str'>

**"Double Quotes" or "Single Quotes"**

In [22]:
y = "John"
y = 'John'

print (y)

John

**Case Sensitive**

In [24]:
a = 4
A = "Sally"
#A will not overwrite a

print (a)
print (A)

4
Sally

**Multiple Variables**

In [28]:
x, y, z = "one", "two", "three"

print (x)
print (y)
print (z)

one
two
three

**One Value to Multiple Variables**

In [29]:
x = y = z = "four"

print (x)
print (y)
print (z)

four
four
four

**Output Variables**

In [27]:
x = "enjoying"
print ("Python programming is " + x)

Python programming is enjoying

**Other way:**

In [32]:
x = "Python is "
y = "enjoying"
z = x + y

print (z)

Python is enjoying

**Arithmetic Operations**

In [35]:
x = 5
y = 3

sum = x + y
sum
print (x + y)
print (x - y)
print (x * y)
print (x / y)
print (x % y)
print (x ** y)
print (x // y)

8
2
15
1.6666666666666667
2
125
1

**Assignment Operators**

In [43]:
s = 1

s += 3
print (s)

s -= 3
print (s)

s *= 3
print (s)

s /= 3
print (s)

s %= 3
print (s)

s **= 3
print (s)

s //= 3
print (s)

s = int(s)
s &= 3
print (s)

s |= 3
print (s)

s ^= 3
print (s)

s >>= 3
print (s)

s <<= 3
print (s)

4
1
3
1.0
1.0
1.0
0.0
0
3
0
0
0

**Comparison Operators**

In [49]:
t = 1
u = 2


print (t == u)
print (t != u)
print (t > u)
print (t < u)
print (t >= u)
print (t <= u)

False
True
False
True
False
True

**Logical Operators**

In [50]:
t = 1
u = 2

print (t < 5 and u < 10)
print (t < 5 or u < 4)
print (not (t < 5 and x < 10))

True
True
False

**Identity Operators**

In [51]:
t = 1
u = 2

print (t is u)
print (t is not u)

False
True

**Bitwise Operators**

In [53]:
t = 1
u = 2

print (t & u)
print (t | u)
print (t ^ u)
print (t, ~ u)
print (t << u)
print (t >> u)

0
3
3
1 -3
4
0